/* navbar */

/* hero */

.section__hero__container{
    width:100%;
    height: auto;

}
.section__hero__description{
    width:100%;
    height: auto;

}
.section








/* product info */

/* team info */