#a0{
    content:url("/images/gameCards/air-freight.svg")
}
#b0{
    content:url("/images/gameCards/air-freight.svg")
}
#a1{
    content:url("/images/gameCards/armored-vehicle.svg")
}
#b1{
    content:url("/images/gameCards/armored-vehicle.svg")
}
#a2{
    content:url("/images/gameCards/beach-ball.svg")
}
#b2{
    content:url("/images/gameCards/beach-ball.svg")
}
#a3{
    content:url("/images/gameCards/bear.svg")
}
#b3{
    content:url("/images/gameCards/bear.svg")
}
#a4{
    content:url("/images/gameCards/dog.svg")
}
#b4{
    content:url("/images/gameCards/dog.svg")
}
#a5{
    content:url("/images/gameCards/gingerbread-man.svg")
}
#b5{
    content:url("/images/gameCards/gingerbread-man.svg")
}
#a6{
    content:url("/images/gameCards/house.svg")
}
#b6{
    content:url("/images/gameCards/house.svg")
}
#a7{
    content:url("/images/gameCards/palm.svg")
}
#b7{
    content:url("/images/gameCards/palm.svg")
}
