body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gameboard{
    width: 100vw;
    max-width: 500px;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin: 0 auto;
    padding:10px;
    background-color: lightgrey;
    border:1px solid black;
    box-sizing: border-box;
}

.card{
    content: url('');
    box-sizing: border-box;
    border:1px solid black;
    background-color:red;
}

.card--visible{
    margin:auto;
   

    padding:10px;
    width:80px;
    height:80px;
    border:1px solid black;
    background-color: green;
    background-repeat:no-repeat;
    background-size:100% 100%;


    
}
.card--completed{
    margin:auto;
   
    padding:10px;
    width:80px;
    height:80px;
    border:1px solid black;
    background-color:orange;

}

