

.gameboard{
    /* width: 100vw; */
    max-width: 600px;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin: 0 auto;
    padding:10px;
    
    box-sizing: border-box;
   
}

.card{
    content: url('');
    box-sizing: border-box;
    border:1px solid black;
    background-color:red;
    background-repeat:no-repeat;
    background-size:100% 100%;
     box-shadow:5px 5px 8px rgba(0, 0, 0, 0.5);
}

.card--visible{
    background-color: green;

}
.card--completed{
    background-color:orange;
}
