.gameboard {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    content: url('');
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #e55039;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.card--visible {
    background-color: #4cd137;
}

.card--completed {
    background-color: #f39c12;
}