.section-hero {
  margin-top: 45px ;
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.section-hero__background{
  position:absolute;
  background-position:center;
  object-fit:cover;
  width:100%;
  height:80vh;
}
.section-hero__container {
  width: 70%;
  height: auto;
  padding: 20px;
  color: #1e272e;
  text-align: center;
  font-weight: bold;
  z-index:1;
}
.section-hero__header {
  margin: 0;
  padding: 10px;
  font-size: 36px;
  text-transform: uppercase;
}
.section-hero__info {
  padding: 5px;
  font-size: 20px;
  text-align: top;
}
.section-hero__sign-in-button {
  font-size: 25px;
  color: #1e272e;
  padding: 10px;
  text-decoration: none;
  background-color:#e17055;
  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
.section-hero__sign-in-button:hover {
  background-color:#fab1a0;
  color: #636e72;
}
.section-hero__nav-box{
  text-align:center;
}
.section-hero__slide-indicator {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  opacity:0.5;
  box-sizing:border-box;
}

@media only screen and (max-width:568px){
  .section-hero{
    margin-top:70px;
  }
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.3} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.3} 
  to {opacity: 1}
}
