.section-hero {
  margin-top: 40px ;
  display: flex;
  width: 100%;
  height: 80vh;
  background-image: url('/images/hero1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: center;
  box-sizing:border-box;
}
.section-hero__container {
  width: 70%;
  height: auto;
  padding: 20px;
  color: #1e272e;
  text-align: center;
  font-weight: bold; 
}
.section-hero__header {
  margin: 0;
  padding: 10px;
  font-size: 36px;
  text-transform: uppercase;
}
.section-hero__info {
  padding: 5px;
  font-size: 20px;
  text-align: top;
}
.section-hero__sign-in-button {
  font-size: 25px;
  color: #1e272e;
  padding: 10px;
  text-decoration: none;
  background-color:#e17055;
  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
.section-hero__sign-in-button:hover {
  background-color:#fab1a0;
  color: #636e72;
}
.section-hero__dot-nav{
  text-align:center;
}
.dot--active{
  background-color: black;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration:2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

