.section-info-product__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; 
}
.section-info-product__text{
  padding:10px;
  text-align: justify;
}

.section-info-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "item-photo item-content";
  /*dodalem troche glebi tu i tam */ 
  margin:10px;
  box-sizing:border-box;
  box-shadow: 5px 5px 5px grey;
  border: 0px solid #fff;
}

.section-info-product--reversed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "item-content item-photo";
}

.section-info-product__item-photo {
  grid-area: item-photo;
  background-size: cover;
  width: 100%;
  }

.section-info-product__item-content {
  grid-area: item-content;
  background-color: whitesmoke;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 35px;
  width: 100%;
  color: #1e272e;
  font-weight: bold;
  justify-content: center;  
}

@media screen and (max-width: 575.98px) {
  .section-info-product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: " item-content " " item-photo ";
    background-size: contain;
  }
  .section-info-product--reversed {
    grid-template-areas: " item-content" " item-photo ";
  }
}
