.section-registration-premiere {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #1e272e;

  background-color: #a4b0be;

  width: 100%;

  padding: 20px 0;
}

.section-registration-premiere__form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-registration-premiere__form-container-text-register {
  height: 25px;
  font-size: 18px;
  margin: 0 2px;
  text-align: center;
}

.section-registration-premiere__header-container {
  margin: 0;
  padding: 15px;
}

.section-registration-premiere__form-container-button-register {

  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  height: 30px;
  font-size: 18px;
  margin: 0 2px;

  text-align: center;

  color: #1e272e;

  background-image: linear-gradient(#e17055, #fab1a0);

  border-radius: 4px;
  -webkit-box-shadow: 9px 10px 26px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 26px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 26px 4px rgba(0, 0, 0, 0.75);
}

.section-registration-premiere__form-container-button-register:hover {
  background-image: linear-gradient(#fab1a0, #e17055);
    color: #636e72;
}

.section-registration-premiere__form-container-button-register:focus {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
}
