.section-prices-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.section-prices-calc__row {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.section-prices-calc__header {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 300px) {
    .section-prices-calc__row {
        min-width: 300px;
    }
}