.container {
  margin: 0 auto;
  padding: 0;
  background-color: #ced6e0;
  width: 100%;
}

.section-function {
  width: 100%;
  padding: 50px 0px 40px 0px;
  background: #2c3e50;
  margin: 0;
}

.section-function__container {
  display: flex;
  width: 100%;
}

.section-function__item {
  display: flex;
  flex-basis: 25%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: whitesmoke;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  border: 5px solid gainsboro;
  border-radius: 10px;
  text-align: justify;
  width: 100%;
}

.section-function__item-img {
  max-height: 100px;
}

@media screen and (max-width: 575.98px) {
  .section-function__container {
    flex-wrap: wrap;
  }

  .section-function__item {
    flex-basis: 100%;
  }
}
