.section-team {
    background: #ced6e0;
    width: 100%;
    color: #1e272e;
    font-weight:bold;  
  }

  .section-team__header {
    font-family: sans-serif;
    color: #1e272e;
    font-size: 34px;
    text-align: center; 
  }
  
  .section-team__container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-basis: 25%;
    text-align: center;
    font-size: 24px;
    line-break: auto;
    font-family: sans-serif;
    
  }

  .section-team__img {
    border-radius: 50%;
    range: auto;
    box-shadow: 5px 5px 5px grey;
  }

  .section-team__fb-link {
    background-image: url(/images/F_icon.svg) no-repeat center;
    background-size: 80%;
    text-decoration-line: none;
  }

  @media only screen and (max-width: 767px) {
    .section-team__container {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
    }
    .section-team__container--elements {
      flex-direction: row;
      justify-content: center;
      align-content: space-between;
    }
    .section-features__container--elements p {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #000000;
    }
    .fb {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }