.thank-you__container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    background-color: #a4b0be;
}
.thank-you__text {
    display: flex;
    align-content: center;
    justify-content: center;

    margin: 0;
    padding: 10px;
    font-size: 34px;
    text-transform: uppercase;
}

.thank-you__back-button {
    display: flex;
    align-content: center;
    justify-content: center;
}

.thank-you__button-link {
  font-size: 25px;
  color: #1e272e;
  padding: 10px;
  text-decoration: none;
  background-image: linear-gradient(#e17055, #fab1a0);

  border-radius: 4px;
  -webkit-box-shadow: 9px 10px 26px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 26px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 26px 4px rgba(0, 0, 0, 0.75);
}

.thank-you__button-link:hover {
    background-image: linear-gradient(#fab1a0, #e17055);
    color: #636e72;
}